body {
    background-image: url("https://img.freepik.com/free-photo/plain-smooth-green-wall-texture_53876-129746.jpg?t=st=1713653018~exp=1713656618~hmac=6969221847cbe6bd409ca00f4796ea71974e8b839cd53bd421cd86fe1a0f7114&w=2000");
    background-size: cover;
}

#title {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: lightyellow;
    text-align: center;
    z-index: 10;
    font-family: 'JustLettersMedium';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
}

#container {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.row {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.white {
    border: 1px solid black;
    width: 12%;
    height: 60px;
    background-color: white;
    float: left;
}

.black {
    border: 1px solid black;
    width: 12%;
    height: 60px;
    background-color: #787878;
    float: left;
}

img {
    margin-left: 5px;
    margin-top: 10px;
}

#footer {
    text-align: center;
    border: solid 1px;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}

