body  {
  background-color:  #33ffff;
  font-family: "Times New Roman", Times, serif;
  color: black;
}
img {
  width: 30%;
  height: auto;
}
#left, #right{
    width:300px;
    height:auto;
    border:1px solid red;
    margin-right:10px;
    float:left;
}
